body {
    margin: 0;
    font-family: 'SF Pro Display', sans-serif;
}

header {
    background-color: #B3B3B3;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 10;
    padding: 3;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

nav a:hover {
    text-decoration: underline;
    font-weight: bold;
}

h1 {
    font-size: xxx-large;
}

h2 {
    font-size: xx-large;
    padding: 20px;
    margin-left: 20px;
}

h3 {
    font-size: x-large;
    padding: 20px;
    margin-left: 20px;
    white-space: nowrap;
}

p {
    font-size: medium;
    line-height: 3;
    padding: 20px;
    margin-left: 20px;
}

.my-button {
    color: white;
    background-color: #00C898;
    padding: 15px 30px;
    font-size: 18px; /* Adjust font size */
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    cursor: pointer;
}

.my-button :hover {
    text-decoration: underline;
    font-weight: bold;
}

.bordered-image {
    border: 2px solid #00C898;
    text-align: center;
}

.left-align-text {
    text-align: left;
}

.right-align-text {
    text-align: right;
}

.image-container img {
    
    max-width: 100%; /* Ensure the image doesn't exceed its container width */
    height: auto; /* Maintain the aspect ratio */
    
}

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around; /* Spread the items horizontally */
    flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
    padding-top: 30px;
    text-align: center;
}

.left-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around; /* Spread the items horizontally */
    flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
    padding-top: 30px;
}

.centered-image img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px; /* Adjust the spacing between image and text */
}

.text-content {
    max-width: 48%; /* Adjust the width of the text content */
}